body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.logo {
  font-family: "Raleway", sans-serif;
}

.studio:focus,
.studio:hover,
.studio:active {
  color: #2196f3;
}
.portfolio:focus,
.portfolio:hover,
.portfolio:active {
  color: #2196f3;
}
.contacts:focus,
.contacts:hover,
.contacts:active {
  color: #2196f3;
}

.e-mail:focus,
.e-mail:hover,
.e-mail:active {
  color: #2196f3;
}

.telephone-number:focus,
.telephone-number:hover,
.telephone-number:active {
  color: #2196f3;
}

button {
  background-color: #f5f4fa;
}
.button-text {
  color: #212121;
}
button:hover,
button:focus {
  background-color: #2196f3;
}
.button-text:hover,
.button-text:focus,
.button-text:active {
  color: #ffffff;
}
