/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
body {
  color: #212121;
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: "Raleway", sans-serif;
}

.studio:focus,
.studio:hover,
.studio:active {
  color: #2196f3;
}
.portfolio:focus,
.portfolio:hover,
.portfolio:active {
  color: #2196f3;
}
.contacts:focus,
.contacts:hover,
.contacts:active {
  color: #2196f3;
}

.e-mail:focus,
.e-mail:hover,
.e-mail:active {
  color: #2196f3;
}

.telephone-number:focus,
.telephone-number:hover,
.telephone-number:active {
  color: #2196f3;
}

button {
  background-color: #2196f3;
}
.button-text {
  color: #ffffff;
}
