body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1, 714;
  letter-spacing: 0.03em;
  color: #757575;
}
.hero {
  background-color: #2f303a;
}
.page-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 363;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.logo {
  font-family: "Raleway", sans-serif;
}
.logo-part-one {
  color: #2196f3;
}
.logo-part-two {
  color: #000000;
}
.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 143;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.list {
  list-style: none;
}

.contacts-list {
  font-style: normal;
}
.menu-link:focus,
.menu-link:hover,
.menu-link:active {
  color: #2196f3;
}
.contacts-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 143;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.contacts-link:focus,
.contacts-link:hover,
.contacts-link:active {
  color: #2196f3;
}

button {
  background-color: #2196f3;
}
.button-text {
  color: #ffffff;
}
